
.page{
    margin: auto;
}

.products-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 70px 50px; 
    margin: 30px;
}

@media (orientation:portrait) {
    .products-grid{
        grid-template-columns: auto;
    }
}