<div class="page">
    
    <div class="card">
        
        <div class="message-side">

            <h1>Ainda não tenho cadastro</h1>
            <button>Clique aqui</button>

        </div>

        <div class="form-side">
            <h1>Já tenho cadastro</h1>


            <form action="">

                <span>Email</span>
                <input type="text">

                <span>Senha</span>
                <input type="password">

                <button id="login-button">Login</button>
                <a href="/esqueci-senha">Esqueci minha senha</a>
            
            </form>

        </div>

    </div>

</div>
