.card{
    max-width: 25vw;
    padding: 7px;
}

.card-image{
    text-align: center;
    img{
        width: 100%;
        height: auto;
    }
    
}

.add-product{

    display: flex;

    .input{
        width: 50px;
        height: 100%;
        border-radius: 8px 0px 0px 8px;
    }
    
    button{
        width: 55px;
        height: 100%;
        font-size: 16px;
        border-radius: 0px 8px 8px 0px;
        border-color:  var(--primary-color);
    }

}

.product-name{
    font-size: 20px;
    margin: 10px auto;
}

.card-footer{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 50px;
    span{
        font-size: 20px;
    }

}

@media (orientation:portrait) {

    .card{
        max-width: 100vw;
    }

}