.card{
    max-width: 25vw;
}

.card-image{
    text-align: center;
}

.card-content{
    margin: 7px;
}

.actions{
    display: flex;
    width: fit-content;
}

.quantity-input{
    width: 50px;
}

 img{
    width: auto;
    height: 180px;
    margin-top: 7px;
} 

.product-name{
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    width: 100%;
}

button{
    width: 55px;
    font-size: 20px;
}

.card-footer{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    span{
        margin: auto 0px;
        font-size: 20px;
    }

}

@media (orientation:portrait) {

    .card{
        max-width: 100vw;
    }

}