.card-image{
    margin: 7px;
    text-align: center;
    img{
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }
    
}

.product-name{
    font-size: 18px;
    margin: 10px 7px;
}

.card-footer{
    margin: 7px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 50px;
    span{
        font-size: 20px;
    }

}