
<div class="card">

    <div class="card-image">
        <a href="/produto/{{inputProduct.id}}">
            <img src="{{inputProduct.image}}" alt="">
        </a>
    </div>

    <div>

        <div class="product-name">
            {{inputProduct.name}}
        </div>

        <div class="card-footer">
            
            <div>
                <span>{{inputProduct.price.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}}</span>
            </div>

        </div>
    </div>

</div>