header{
    display: flex;
    /* justify-content: space-between; */
    padding: 15px 0px;
    div{
        width: 33.3%;
    }
    .header-logo{
        margin: auto auto auto 30px;
    }
    .header-seach{
        text-align: center;
        margin: auto;
    }
    .header-profile{
        text-align: end;
        margin: auto;
    }
}

input{
    padding: 10px 0px 10px 10px;
    width: 80%;
    height: 35px;
    border-radius: 8px 0px 0px 8px;
    background-color: #d3d3d3;
    border: none;
    color: #000000 !important;
    font-size: 16px;
}


button{
    height: 53px;
    border-radius: 0px 8px 8px 0px;
    padding: 10px;
    width: 10%;
    border: none;
    background-color: var(--primary-color);
    color: #ffffff;
}

.profile{
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 15px;
    border-radius: 100%;
    font-size: 27px;
    margin-right: 30px;

}


.profile:hover{
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}

nav{
    width: 100vw;
    background-color: var(--primary-color);
    padding: 20px 0px;
    justify-content: space-evenly;
    display: flex;
    margin: auto;
    a{
        font-style: none;
        text-decoration: none;
        color: #ffffff;
        font-size: 20px;
    }
    a:hover{
        color: #c2c2c2;
        transition: 0.25s;
    }
}

footer{
    width: 100vw;
    background-color: var(--primary-color);
    padding: 20px 0px;
    margin: auto;
    color: #ffffff;
    text-align: center;

    a{
        font-style: none;
        text-decoration: none;
        color: #ffffff;
    }

    a:hover{
        color: #c2c2c2;
        transition: 0.25s;
    }
}