.page-container{
    display: flex;
}

.content-wrap{
    width: 85vw;
}

nav{

    width: 15vw;
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .margin{
        margin: 20px;
    }

    .logo{
        text-align: center;
        img{
            width: 50%;
        }
    }

    button{
        border-radius: 0px 8px 8px 0px;
        width: 20%;
    }

    button:hover{
        filter: brightness(120%);
    }
    
    input{
        border-radius: 8px 0px 0px 8px;
        width: 75%;
    }

    .nav-item{
        margin: 10px auto;
        background-color: var(--primary-color);
        padding: 10px;

    }

    .nav-item:hover{
        cursor: pointer;
        filter: brightness(120%);
    }

    .profile{
        margin: 20px;
        background-color: var(--primary-color);
        text-align: center;
        .profile-icon{
            background: var(--secondary-color);
            color: var(--primary-color);
            padding: 10px;
            border-radius: 100%;
            font-size: 20px;
            margin-right: 10px;
        }

        span{
            color: var(--secondary-color);
        }
        
    }

}

.search-product{

    display: flex;

    .input{
        width: 75%;
        height: 100%;
        border-radius: 8px 0px 0px 8px;
    }
    
    button{
        width: 20%;
        height: 100%;
        font-size: 16px;
        border-radius: 0px 8px 8px 0px;
        border-color:  var(--secondary-color);
    }

}