<div class="page-container">
    
    <nav>

        <div class="margin">

            <div class="logo">
                <img src="logo.png" alt="">
            </div>

            <hr>

            <div class="search-product">
                <div class="add-product">
                    <input type="text" placeholder="Procure algum produto">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>

            <div class="navigation">
                <a href="/"><div class="nav-item">Home</div></a>
                <a href="cesta"><div class="nav-item">Cesta</div></a>
                <a href="login"><div class="nav-item">Login</div></a>
            </div>

        </div>

        <div class="profile">
            <hr>
            <i class="fa-solid fa-user profile-icon"></i>
            <span>José Carlos</span>
        </div>

    </nav>

    <div class="content-wrap">
        <router-outlet />
    </div>

</div>