
<div class="page-container">

    <header>

        <div  class="header-logo">
            <a href="/">
                <img src="logo.png" alt="">
            </a>
        </div>

        <div class="header-seach">
            <input type="text" placeholder="Pesquise por um produto"><button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>

        <div  class="header-profile">
            <i class="fa-solid fa-user profile"></i>
        </div>

    </header>

    <nav>
        <a href="/">Home</a>
        <a href="login">Login</a>
        <a href="cesta">Cesta</a>
    </nav>

    <div class="content-wrap">
        <router-outlet />
    </div>


    <footer>
        <a href="https://github.com/gabrielrenato1">Gabriel Carvalho</a> - ADS Noturno - 2024
    </footer>

</div>
