<div class="page">
    
    <div class="card">
        
        <div class="message-side">

            <h1>Já tenho cadastro</h1>
            <button (click)="disableRegister()">Clique aqui</button>

        </div>
        <div class="form-side">
            <h1>Cadastre-se</h1>


            <form action="">

                <div class="flex">
                    <div>
                        <span>Nome</span>
                        <input type="text" required>
                    </div>
                    <div>
                        <span>Email</span>
                        <input type="text" required>
                    </div>
                </div>

                <div class="flex">
                    <div>
                        <span>Senha</span>
                        <input type="password" required>
                    </div>
                    <div>
                        <span>Confirmar senha</span>
                        <input type="password" required>
                    </div>
                </div>

                <div class="flex">
                    <div>
                        <span>CPF</span>
                        <input type="text" required>
                    </div>
                    <div>
                        <span>Telefone</span>
                        <input type="text" required>
                    </div>
                </div>
                
                <button id="login-button">Cadastrar</button>
            
            </form>

        </div>

    </div>

</div>
