.flex{

    display: flex;
    justify-content: space-evenly;
    input {
        width: 100% !important;
    }
    div{
        display: flex;
        flex-direction: column;
    }
}

.card{
    display: flex;
    min-width: fit-content;
    margin: auto;
}

.form-side{

    border-left: solid 1px;
    width: 70%;
    height: 100%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    form{
        display: grid;
        width: 50%;
        
        input{
            margin-bottom: 40px;
        }
        p{
            text-align: center;
        }
    }
    a{
        margin: 0px auto;
        width: fit-content;
        color: #000000;
    }

}

#login-button{

    margin-bottom: 40px;
    width: 100%;

}

.message-side{
    text-align: center;
    padding: 35px;
    width: 40%;
    height: fit-content;
    margin: auto;

    button{
        width: 90%;
    }
}

@media (orientation:portrait){

    .card{
        display: block;
        width: 90%;
        min-width: auto;
        margin-bottom: 20px;
    }

    .form-side{
        border-left: none;
        border-right: none;
        border-top: solid 0.5px;
        flex-direction: column;
    }

    .flex{
        display: block;
    }


}