.card{
    max-width: 95vw;
    margin: auto;
}
.card-image{
    width: 20%;
}

.card-text{
    width: 80%;
    padding: 20px;
    position: relative;
}

.card-content{
    margin: 7px;
    display: flex;
}


.actions{
    display: flex;
    width: fit-content;
}

 img{
    width: 100%;
    height: auto;
    margin: 7px auto;
}

.product-name{
    font-size: 25px;
    width: 100%;
    margin-bottom: 20px;
    max-height: 20%;
}

button{
    width: 55px;
    font-size: 20px;
}

.card-footer{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    height: 20%;
    width: 95%;
    span{
        margin: auto 0px;
        font-size: 20px;
    }

}

.add-product{

    display: flex;

    .input{
        font-size: 16px;
        border-radius: 8px 0px 0px 8px;
    }
    
    button{
        width: 55px;
        height: 100%;
        font-size: 16px;
        border-radius: 0px 8px 8px 0px;
        border-color:  var(--primary-color);
    }

}

@media (orientation:portrait){

    .card{
        max-width: none;
    }

    .card-content{
        flex-direction: column;
    }

    .card-text{
        width: 100%;
        padding: 0px;
        div{
            margin-top: 15px;
        }
    }

    .card-image{
        width: 100%;
    }

    .card-footer{
        position: unset;
    }

}