<div class="page-margin">
    
    <div class="card">

        <div class="card-content">

            <div class="card-image">
                <img src="{{product.image}}" alt="">
            </div>

            <div class="card-text">

                <div class="product-name">
                    {{product.name}}
                </div>

                <div class="">
                    {{product.description}}
                </div>

                <div class="card-footer">
        
                    <span>R$ {{product.price}}</span> <button (click)="product.addShoppingCart()"><i class="fa-solid fa-cart-plus"></i></button>
        
                </div>
            </div>

        </div>

    </div>

</div>
