<div class="page-margin">
    
    <div class="card">

        <div class="card-content">

            <div class="card-image">
                <img src="{{product.image}}" alt="">
            </div>

            <div class="card-text">

                <div class="product-name">
                    {{product.name}}
                </div>

                <div class="">
                    <b>Descrição:</b> <br>
                    {{product.description}}
                </div>

                <div class="card-footer">
        
                    <span>{{product.price.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}}</span>
                
                    <div class="add-product">
                        <input class="input" type="number" [(ngModel)]="product.quantity" value="1" min="1">
                        <button (click)="product.addShoppingCart()"><i class="fa-solid fa-cart-plus"></i></button>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>
