<div class="page-margin">
    
    <div class="card">

        <div class="card-content">

            <div class="card-image">
                <a href="/produto">
                    <img src="https://placehold.co/1920x1200/000000/FFF?text=Foto Produto" alt="">
                </a>
            </div>

            <div class="card-text">

                <div class="product-name">
                    Nome do produto
                </div>

                <div class="card-footer">
        
                    <span>R$ 100.00</span> <button><i class="fa-solid fa-cart-plus"></i></button>
        
                </div>
            </div>

        </div>

    </div>

</div>
