
.page{
    margin: auto;
}

.products-grid{
    gap: 25px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin: 30px auto;
}

@media (orientation:portrait) {
    .products-grid{
        grid-template-columns: auto;
        width: 80vw;
        margin: auto;


    }
}