
.page{
    margin: auto;
}

.products-grid{
    display: grid;
    gap: 50px 50px; 
    grid-template-columns: repeat(5, 1fr);
    margin: 30px auto;
    width: 90%;
}

@media (orientation:portrait) {
    .products-grid{
        grid-template-columns: auto;
        width: 80vw;
        margin: auto;


    }
}