<div class="page-margin">
    
    <div class="shoppingCart card" id="shoppingCart-card">

        <div *ngIf="products.length > 0">

            <div *ngFor="let product of products" class="cartRow">
                <div id="productImage">
                    <img src="{{product.image}}" alt="">
                </div>
                <div id="productName">
                    {{product.name}}
                </div>
                <div id="productQuantity">
                    <input class="quantity-input" type="number" min="1" value="{{product.quantity}}" (blur)="updateProducts(product.id, $event)">Qtde.
                </div>
                <div id="productPrice">
                    {{(product.price * product.quantity).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}}
                </div>
                <div id="removeProduct">
                    <button (click)="removeProducts(product.id)"><i class="fa-solid fa-trash"></i></button>
                </div>
    
            </div>

        </div>

        <div *ngIf="products.length == 0" id="emptyState">

            <span>Cesta vazia :^(</span>

        </div>

    </div>

    <div class="actions card" id="actions-card">

        <div>
            <button (click)="sendOrder()">Efetuar compra</button>
            <a href="/"><button class="btn-secondary">Voltar a comprar</button></a>
        </div>
        <div id="price">
            <span>Total: {{totalPrice.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}}</span> 
        </div>
        
    </div>

</div>