<div class="page-margin">
    
    <div class="card">

        <div id="products">
            
            <div *ngFor="let product of products" class="cardRow">
                <div id="productImage">
                    <img src="{{product.image}}" alt="">
                </div>
                <div id="productName">
                    {{product.name}}
                </div>
                <div id="productQuantity">
                    <input class="quantity-input" type="number" min="1" value="{{product.quantity}}" (blur)="updateProducts(product.id, $event)">Qtde.
                </div>
                <div id="productPrice">
                    {{(product.price * product.quantity).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}}
                </div>
                <div id="removeProduct">
                    <button (click)="removeProducts(product.id)"><i class="fa-solid fa-trash"></i></button>
                </div>
    
            </div>

        </div>

        <div class="actions">
            <div id="price">
                <span>Total: {{totalPrice.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}}</span> 
            </div>
            <div class="actions-buttons">
                <a href="/"><button class="btn-secondary">Voltar a comprar</button></a>
                <button (click)="sendOrder()">Efetuar compra</button>
            </div>
        </div>

    </div>
    
    <!-- <div>
        {{message}}
    </div> -->

    <app-loading *ngIf="loading"></app-loading>

</div>