.actions{
    display: flex;
    margin: 15px auto auto auto;
    width: fit-content;

    button{
        margin: auto 15px;
    }
}

.shoppingCart{
    margin: auto;
    width: 75%;
    height: 65vh;
    overflow-y: auto;
    border: solid 0.5px;
}

.cartRow{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 0.5px;
    padding: 15px;
    height: 100px;

    div{
        margin-top: auto;
        margin-bottom: auto;
        height: fit-content;
    }
}

#productImage{
    width: 15%;

    img{
        height: 100px;
        width: 100%;
    }

}

#productName{
    width: 45%;
}

#productQuantity{
    width: 15%;
}

#productPrice{
    width: 10%;
}

#removeProduct{
    width: 5%;
    button{
        width: 50px;
        height: 50px;
    }
}

#removeProduct:hover{
    cursor: pointer;
}

.productImage{
    height: 100px;
}

.quantity-input{
    width: 30%;
    margin-right: 10px;
}

@media (orientation:portrait) {

    .shoppingCart{
        width: 95%;
    }

    .cartRow{
        flex-direction: column;
        height: fit-content;

        div{
            margin-top: 7.5px;
            margin-bottom: 7.5px;
            height: fit-content;
        }
    }

    #productName{
        width: 100%;
    }
    
    #productQuantity{
        width: 100%;
    }
    
    #productPrice{
        width: 100%;
    }
    
    #removeProduct{
        width: 100%;
    }
    
}