body{
    margin: 0px!important;
    padding: 0px!important;
    width: 100vw;
    background-color: #f1f1f1;
}

.page-margin{
    margin: 15px 15px;
}

:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --primary-text-color: #ffffff;
  }