body{
    margin: 0px!important;
    padding: 0px!important;
    background-color: #f1f1f1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-margin{
    height: 92.5vh;
    margin: 35px;
}

:root {
    --primary-color: #303030;
    --secondary-color: #ffffff;
    --primary-text-color: #ffffff;
}

input{
    padding: 10px 0px 10px 10px;
    height: 35px;
    border-radius: 8px;
    background-color: #ffffff;
    border: none;
    color: #000000 !important;
    font-size: 16px;
    border: solid 0.5px;
}

button{
    height: 60px;
    border-radius: 8px;
    padding: 10px;
    border: none;
    font-size: 20px;
    background-color: var(--primary-color);
    color: #ffffff;
    border: solid 1.5px;
}

.btn-secondary{
    background-color: unset !important;
    color: var(--primary-color);
    filter: none;
    font-weight: bold;
    border:none
}

button:hover{
    cursor: pointer;
}

.card{
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: solid 0.5px;
}

a{
    font-style: none;
    text-decoration: none;
    color: #ffffff;
}

a:hover{
    color: #dad9f3;
    transition: 0.25s;
}